.student {
  display: flex;

  section {
    margin-top: 37px;
    margin-right: 34px;
    width: 387px;
  }
}

@media screen and (max-width: 645px) {
  .student {
    display: block;

    section {
      text-align: center;
      margin-top: 50px;
      width: 100%;
    }
  }
}
